body, html{
margin:0;
padding:0;
}

#poeme{
width:500px;
margin:auto;
text-align: justify;
}

#poeme h1{
text-align:center;
font-family:"Bebas Neue";
letter-spacing: 3px;
}

#poeme p{
font-family:"Montserrat";	
}

figure{
text-align:center;	
}

img{
width:200px;
height:200px;
}

figcaption{
font-size:10px;
font-style:italic; 
font-family:"Montserrat";	
}